@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Figtree', sans-serif;
}

.scrolling * {
  pointer-events: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset;
  -webkit-text-fill-color: #000000;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset;
  -webkit-text-fill-color: #000000;
}
