@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('../fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../fonts/Satoshi-Variable.woff') format('woff'),
    url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AzeretMono-Variable';
  src:
    url('../fonts/AzeretMono-Variable.woff2') format('woff2'),
    url('../fonts/AzeretMono-Variable.woff') format('woff'),
    url('../fonts/AzeretMono-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-stretch: condensed;
}

/* .time-font {
  font-family: 'AzeretMono-Variable', monospace;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Satoshi-Variable', sans-serif;
}

.scrolling * {
  pointer-events: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgb(16, 16, 16) inset;
  -webkit-text-fill-color: #cfcfcf;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px rgb(16, 16, 16) inset;
  -webkit-text-fill-color: #cfcfcf;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.marquee_container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-block;
  animation: marquee 45s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee_container:hover .marquee {
  animation-play-state: paused;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

input[type='range'] {
  @apply w-full h-[0.3rem] rounded-lg appearance-none cursor-pointer;
  background: linear-gradient(
    to right,
    white 0%,
    white var(--volume-percentage, 50%),
    rgb(156 163 175) var(--volume-percentage, 50%),
    rgb(156 163 175) 100%
  );
}

/* Thumb styles */
input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-[0.3rem] h-[0.3rem] bg-white rounded-full hover:scale-125 transition;
  -webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
  @apply w-3 h-3 bg-white border-none rounded-full hover:scale-125 transition;
}

/* Track styles */
input[type='range']::-webkit-slider-runnable-track {
  @apply rounded-lg h-[0.3rem];
  background: transparent;
}

input[type='range']::-moz-range-track {
  @apply rounded-lg h-[0.3rem];
  background: transparent;
}
